<div class="home pt-5">
  <%= render 'shared/user_info' %>
  <h1 class="title text-center mb-0 mt-2">Github Repositories Trending</h1>
  <p class="description text-center text-muted">Last cache created on <%= DateTime.now.to_date.to_s %> by Github API v3.</p>
  <div class="main-section repo">
    <div class="head">
      Repositories Trending
      <div class="language" >
        <select class="form-control form-control-sm" data-controller="trending-language">
          <%= options_for_select(@language, @lang) %>
        </select>
      </div>
    </div>
    <ul class="item">
      <% @trending.each_with_index do |item, index| %>
        <li>
          <div class="info">
            <div class="rank">
              <span class="font-weight-bold" title="Ranking <%= index + 1 %>"><%= index + 1 %></span>
              <a href="https://github.com/<%= item[:link] %>" target="_blank" title="<%= item[:link] %>"><%= item[:link] %></a>
            </div>
            <div>
              <% if item[:repo_color] %>
                <span class="badge badge-light">
                  <span class="repo-color" style="<%= item[:repo_color] %>"></span>
                  <%= item[:language] %>
                </span>
              <% end %>
              <span class="badge badge-light text-black-50">
                <i class="fas fa-star"></i>
                <%= item[:star_count] %>
              </span>
              <span class="badge badge-light text-black-50">
                <i class="fas fa-star"></i>
                <%= item[:star_today] %> stars today
              </span>
            </div>
            <div class="description">
              <%= item[:desc] %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    
  </div>
</div>